* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 16px;
  background-color: #fff;
  color: #212121;
  line-height: 1.5;
}
.message-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
}
.message-form label {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #2e2f42;
  display: block;
}
.message-form label:nth-child(2) input {
  margin-bottom: 16px;
}
.message-form input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 8px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
button:hover,
button:focus {
  opacity: 0.8;
}
